Source: apcupsd
Section: admin
Priority: optional
Maintainer: Thorsten Alteholz <debian@alteholz.de>
Build-Depends: debhelper (>= 11)
	, libgd-dev
	, libmodbus-dev
	, libncurses5-dev | libncurses-dev
	, libsnmp-dev
	, libusb-dev
	, libwrap0-dev
	, mawk | awk
	, pkg-config
	, po-debconf
	, python-docutils
	, tcpd
	, texinfo
# gconf shall disappear:	, libgtk2.0-dev
# gconf shall disappear:	, libgconf2-dev
# will disappear:	, rst2pdf
Standards-Version: 4.3.0
Homepage: http://www.apcupsd.org/
Vcs-Browser: https://salsa.debian.org/alteholz/apcupsd
Vcs-Git: https://salsa.debian.org/alteholz/apcupsd.git

Package: apcupsd
Architecture: any
Depends: ${misc:Depends}
	, ${shlibs:Depends}
	, lsb-base
Conflicts: ups-monitor
Provides: ups-monitor
Recommends: apcupsd-doc,
            s-nail | mailx
Suggests: apcupsd-cgi,
          udev
Description: APC UPS Power Management (daemon)
 apcupsd provides UPS power management for APC products, including most BackUPS
 series models (including USB), SmartUPS V/S, SmartUPS (NET/RM), and Matrix
 series.
 .
 It controls and monitors the status of UPS and allows your computer to run for
 a specified length of time on UPS power, and then executes a controlled
 shutdown in the case of an extended power failure.

Package: apcupsd-cgi
Section: web
Architecture: any
Depends: apcupsd (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: apache2 | httpd
Description: APC UPS Power Management (web interface)
 apcupsd provides UPS power management for APC products, including most BackUPS
 series models (including USB), SmartUPS V/S, SmartUPS (NET/RM), and Matrix
 series.
 .
 This package contains the web interface.

Package: apcupsd-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Replaces: apcupsd
Description: APC UPS Power Management (documentation/examples)
 apcupsd provides UPS power management for APC products, including most BackUPS
 series models (including USB), SmartUPS V/S, SmartUPS (NET/RM), and Matrix
 series.
 .
 This package contains the documentation and examples.
