Source: apcupsd
Section: admin
Priority: extra
Maintainer: Giuseppe Iuculano <iuculano@debian.org>
Uploaders: Stefan Ritter <xeno@thehappy.de>
Build-Depends: debhelper (>= 7), autotools-dev, quilt, mawk | awk, libgd2-noxpm-dev, libncurses5-dev | libncurses-dev, libsnmp-dev, libssl-dev, libwrap0-dev, po-debconf, texinfo, tcpd, rst2pdf, python-docutils, pkg-config, libusb-dev
Standards-Version: 3.8.4
Homepage: http://www.apcupsd.com/

Package: apcupsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: ups-monitor
Provides: ups-monitor
Recommends: apcupsd-doc
Suggests: apcupsd-cgi, udev
Description: APC UPS Power Management (daemon)
 apcupsd provides UPS power management for APC products, including most BackUPS
 series models (including USB), SmartUPS V/S, SmartUPS (NET/RM), and Matrix
 series.
 .
 It controls and monitors the status of UPS and allows your computer to run for
 a specified length of time on UPS power, and then executes a controlled
 shutdown in the case of an extended power failure.

Package: apcupsd-cgi
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apcupsd (= ${binary:Version})
Suggests: apache2 | httpd
Description: APC UPS Power Management (web interface)
 apcupsd provides UPS power management for APC products, including most BackUPS
 series models (including USB), SmartUPS V/S, SmartUPS (NET/RM), and Matrix
 series.
 .
 This package contains the web interface.

Package: apcupsd-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Replaces: apcupsd
Description: APC UPS Power Management (documentation/examples)
 apcupsd provides UPS power management for APC products, including most BackUPS
 series models (including USB), SmartUPS V/S, SmartUPS (NET/RM), and Matrix
 series.
 .
 This package contains the documentation and examples.
