Source: apcupsd
Section: admin
Priority: extra
Maintainer: Giuseppe Iuculano <iuculano@debian.org>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
               dh-systemd,
               libgd-dev,
               libmodbus-dev,
               libncurses5-dev | libncurses-dev,
               libsnmp-dev,
               libusb-dev,
               libwrap0-dev,
               mawk | awk,
               pkg-config,
               po-debconf,
               python-docutils,
               python-imaging,
               rst2pdf,
               tcpd,
               texinfo
Standards-Version: 3.9.8
Homepage: http://www.apcupsd.org/

Package: apcupsd
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Conflicts: ups-monitor
Provides: ups-monitor
Recommends: apcupsd-doc,
            s-nail | mailx
Suggests: apcupsd-cgi,
          udev
Description: APC UPS Power Management (daemon)
 apcupsd provides UPS power management for APC products, including most BackUPS
 series models (including USB), SmartUPS V/S, SmartUPS (NET/RM), and Matrix
 series.
 .
 It controls and monitors the status of UPS and allows your computer to run for
 a specified length of time on UPS power, and then executes a controlled
 shutdown in the case of an extended power failure.

Package: apcupsd-cgi
Section: web
Architecture: any
Depends: apcupsd (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: apache2 | httpd
Description: APC UPS Power Management (web interface)
 apcupsd provides UPS power management for APC products, including most BackUPS
 series models (including USB), SmartUPS V/S, SmartUPS (NET/RM), and Matrix
 series.
 .
 This package contains the web interface.

Package: apcupsd-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Replaces: apcupsd
Description: APC UPS Power Management (documentation/examples)
 apcupsd provides UPS power management for APC products, including most BackUPS
 series models (including USB), SmartUPS V/S, SmartUPS (NET/RM), and Matrix
 series.
 .
 This package contains the documentation and examples.
